#main {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#secondary {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#text{
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

#footer {
    position: absolute;
    bottom: 30px;
    left: 0px;
    right: 0px;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

h1 {
    padding: 0px;
    margin: 0px;
    color: white;
    font-family: "Open Sans";
    display: inline;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

p {
    padding: 0px;
    margin: 0px;
    color: white;
    font-family: "Open Sans";
    display: inline;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
